<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header :: header">...</div>
<form  METHOD="post" action="perform_login"  >
  <label for="username">Your User Name</label>
  <input placeholder="Enter your name"  id="username" name="username" />

  <label for="password">Password</label>
  <input type="password" placeholder="Enter your password" id="password" name="password" />
    <button type="submit" value="submit">Submit</button>
</form>
</body>
</html>